.form-dialog-title{
  min-width: 500px;
}
.label {
  display: block;
  margin-top: 16px;
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  background: white;
  border: 1px solid #bbbbbb;
  min-height: 2.5rem;
}

.input:focus {
  outline: none;
  border-color: #bbbbbb;
  background: #f3f3f3;
  box-shadow: #bbbbbb;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.form-dialog-container-scroll-disabled{
 overflow-x: hidden;
}
